/* Base styles */
.container {
    position: relative;
}

body {
    background-image: url(image/BK.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

button {
    font-size: 3rem;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #212121;
    color: #FF4545;
    padding: 10px;
    margin: 10px;
}

#container {
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    margin-top: 70px;
    border: 3px solid #DE0000;
    border-radius: 50%;
}

h2 {
    color: #FF4545;
    border: #DE0000 solid 2px;
    background-color: #212121;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 5px;
    margin: 0 auto;
    width: calc(100% - 1200px);
    max-width: 100%;
}

h3 {
    color: #FF4545;
    border: #DE0000 solid 2px;
    background-color: #212121;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 5px;
    margin: 15px auto;
    padding: 4px;
    width: calc(100% - 1000px);
    max-width: 100%;
}

h4 {
    text-align: center;
    color: #FF4545;
    font-size: 24px; /* Default size for small screens */
}

p{
    text-align: center;
    color: #FF4545;
    font-size: 24px; /* Default size for small screens */
}


.icons {
    border: none;
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
}

.divback {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 20px;
    border-radius: 10px;
    background-color: initial; /* Default to no specific background color */
    background-color: #212121;
}

.divbackf {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 30px;
    border-radius: 10px;
    background-color: initial; /* Default to no specific background color */
    background-color: #212121;
}

.bg {
    padding: 20px;
    background-color: #212121;
    height: 600px;
    width: 1440px;
    border-radius: 10px;
    display: flex;
    align-items:flex-start;
    gap: 110px;
}

ul{
    list-style: circle;
    
}
li{
    color: #FF4545;
    top: 10px;

}

.vgi {
    border: none;
    border-radius: 0px;
    height: auto;
    width: 240px;
}

/* Large devices (min-width: 768px) */
@media (min-width: 768px) {
    .icons {
        height: 350px;
        width: auto;
    }

    h4 {
        font-size: 32px;
    }

    .divback {
        gap: 110px;
        width: auto;
        height: 3410px;
        justify-content: center;
        background-color:#212121 /* Override base background-color */
        
    }

    
}

/* Extra large devices (min-width: 1024px) */
@media (min-width: 1024px) {
    .icons {
        height: 150px;
        width: auto;
    }

    h4 {
        font-size: 26px;
    }

    .divback {
        gap: 140px;
        height: 1120px;
        width: auto;
        
         /* Override base background-color */
    }

    .divbackf {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        gap: 30px;
        border-radius: 10px;
        background-color: initial; /* Default to no specific background color */
        background-color: #212121;
    }

    
}

.Tul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #212121;
    border-radius: 10px;

}

.Tli {
    float: left;
    background-color: #212121;


}

.Tli a {
    display: block;
    color: #FF4545;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.Tli a:hover {
    background-color: #131313;
    color: #b10000;
}